body {
	background-color: #AAA;
	background-image: url(/crm/pics/subtle_hexagon.jpg);
    background-repeat: repeat-xy;
}

.dropdown-menu {
	width: 100%;
}

#logo {
	width: 2em;
	height: 2em;
	position: relative;
	bottom: 40%;
}

header {
	font-weight: bold;
}