html,
body {
	overflow: auto;
}

body {
	background-color: #AAA;
	background-image: url(../pics/subtle_hexagon.jpg);
	background-repeat: repeat-xy;
}

.row {
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 1em;
	color: white;	
}

#label-main {
	font-size: 2em;
}

.label-secondary {
	font-size: 1.5em;
}

#label-question {
	font-size: 1.2em;
}

#content {
	width: auto;
	text-align: center;
}

.button-text {
	font-size: 1.5em;
}

#content {
	margin-left: 1em;
	margin-right: 1em;
}

.control-button {
	height: 5em;
}


#button-container {
	margin-top: 0.8em;
	text-align: center;
}